html,
body {
    font-family: "Avenir Next", "Avenir", Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* * {border: 0.5px solid red} */

 .container {
    height: 100%;
    width: 100%;
    position: fixed;
}


input[type=button], input[type=text]{
    display: block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 5px auto;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #333333;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
    width:  75%;
}

input[type=button]:hover {
    color: white;
    background-color: #155263;
}

@media all and (max-width:30em) {
    input[type=button] {
        display: block;
        margin: 0.4em auto;
    }
}

a {
    color: blue;
}

a:hover {
    color: red;
}

a:visited {
    color: black;
}

input {
    font-size: 12px;
}

h1 {
    color: #525454;
    font-size: 22px;
    margin: 0 0 5px 0;
    text-align: center;
}

h3 {
    color: gray;
    font-size: 1.1em;
    margin-left: 10px;
}

/*
 * Hamburger icon and menu made by Erik Terwan
 */

a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

a:hover {
    color: tomato;
}

 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #333333; /* Black*/
    color:  #fafafa;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
    transition: margin-left .5s;
    /* padding: 20px; */
    height: 100%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

li {
    font-size: 12px;
    list-style-type: square;
}

hr {
    background: #D0D7D9;
    height: 1px;
    margin: 20px 0 20px 0;
    border: none;
}

.map {
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
}

.options-box {
    background: #fff;
    border-top: 1px solid #999;
    border-radius: 3px;
    height: 20%;
    line-height: 35px;
    padding: 10px 0 30px 0;
    text-align: left;
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    bottom: 0;
}

.topfive {
    margin-bottom: 90px;
}

.pano {
    width: 200px;
    height: 200px;
}

.text {
    font-size: 12px;
}
